<% if logged_in? %>
  <% content_for :react_pack do %>
    <%= javascript_pack_tag 'interactive_maps' %> 
  <% end %>
<div id='root'></div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the PaperPetrol.com</h1>
    <h3>A website where you can request others to monitor the gas price at specific locations</h3>
    <h3>All with help of an automated Chrome extension!</h3>

    <h2>
      TODOs:
      1. tighten security in a few places
      2. create modern user experience with help of various libraries
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>